[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
skip-character-set-client-handshake

innodb_buffer_pool_size = 512M
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1

max_allowed_packet = 256M
tmp_table_size = 64M
max_heap_table_size = 64M
table_open_cache = 4000

slow_query_log = 1
long_query_time = 2

[client]
default-character-set = utf8mb4
